* {
    margin: 0;
    padding: 0;
    background-color: #fff;
    color: #000;
}

.register {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.LogoContain {
    width: 440px;
    height: 100px;
    display: flex;
    justify-content: space-evenly;
    align-items: start;
    background-color: transparent;
    margin-top: 18px;
}

#img {
    background-color: transparent;
    height: 80px;
}

#companyTitle{
    background-color: transparent;
    font-size: 40px;
    font-weight: 600;
    margin-top: 6px;
}


.login {
    width: 540px;
    border: 1px solid #000;
    border-radius: 20px;
    padding: 12px;
    background-color: rgb(237, 246, 255);
    background-color: #b6ebe7;
    position: relative;
}

#signIn {
    background-color: transparent;
    font-size: 33px;
    font-weight: 400;
    border-bottom: 1px solid #000;
    margin-bottom: 16px;
}

label {
    background-color: transparent;
    font-weight: bold;
}

.inputBox {
    width: 96%;
    height: 14px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 16px;
    background-color: rgb(231, 241, 253);
    background-color: #c7edea;
}

.inputBox:focus {
    outline: none;
    border-color: #007bff;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.3);
}

#signin-btn{
    border: 1px solid #000;
    border-radius: 20px;
    background-color: rgb(213, 239, 255);
    background-color: #c7edea;
    position: absolute;
    right: 12px;
    top: 240px;
}

#signin-btn:hover{
    scale: 1.05;
    border-color: #08A89C;
    box-shadow: 0 0 5px rgb(14, 134, 74);
    background-color: rgb(168, 233, 247);
    background-color: #a3e8e2;
    outline: none;
}

.signup{
    background-color: transparent;
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.newID{
    background-color: transparent;
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 12px;
}

.signup-btn{
    width: 70%;
    background-color: rgb(213, 239, 255);
    background-color: #c7edea;
    border: 1px solid #000;
}

.signup-btn:hover{
    scale: 1.05;
    border-color: #08A89C;
    box-shadow: 0 0 5px rgb(14, 134, 74);
    background-color: #a3e8e2;
    outline: none;
}