* {
  color: #000;
  background-color: #fff;
  margin: 0;
  padding: 0;
}

#root {
  margin: 0;
  padding: 0;
  height: 100vh;
  overflow-y: scroll;
  width: 100%;
  background-color: #fff;
  background-image: url('./assets/bg.jpg');
  background-size: cover;
}

.body{
  position: relative;
  background-color: yellow;
  margin: 55px 0  0 4vw;
  height: 100vh;
}